@using DB_Project.Models

@model Actor
<html>
<head>
    <meta charset="utf-8">
    <title> Actor details</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

Actor's Details:
<br />
<br />
<br />

@Model.actorID
<br />
@Model.name
<br />
@Model.bdate
<br />
@Model.gender
<br />
@Model.description
<br />
</html>
