@using DB_Project.Models

@model Movie

<!DOCTYPE html>
<html>
<head>
    <h1>Movie Details</h1>
</head>
<body>
    <form action="../../Home/Rating" method="post">
        <fieldset>
            <h2> Rate the movie (1-10) </h2>
            <input type="radio" name="Rating" value=1> 1<br>
            <input type="radio" name="Rating" value=2> 2<br>
            <input type="radio" name="Rating" value=3> 3<br>
            <input type="radio" name="Rating" value=4> 4<br>
            <input type="radio" name="Rating" value=5> 5<br>
            <input type="radio" name="Rating" value=6> 6<br>
            <input type="radio" name="Rating" value=7> 7<br>
            <input type="radio" name="Rating" value=8> 8<br>
            <input type="radio" name="Rating" value=9> 9<br>
            <input type="radio" name="Rating" value=10> 10<br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <p>Movie details</p>
    @Model.movieID <br />
    @Model.title <br />
    @Model.rating <br />
    @Model.descript <br />
    @Model.genre <br />
    @Model.releasedate <br /> 
    @Model.picture <br />


    <form action="../../Home/AddComent" method="post">
        <fieldset>
            <h2> Add a comment </h2>
            <p>Comment:</p>
            <input type="text" requried name="comment">
        </fieldset>

    </form>
</body>
</html>