@using DB_Project.Models
@model movieDetailStruct

@{
                /**/

                int i = 1;
}
<!DOCTYPE html>
<html>
<head>
    <title>Movie Details</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @if (Session["uType"] != null)
    {
        if (Session["uType"].ToString() == "A")
        {
            <a href="../../Home/EditMovieDetails?movieID=@Model.movieDetail.movieID">edit Movie Details</a>
            <br />
            <a href="../../Home/DeleteMovieAction?movieID=@Model.movieDetail.movieID" onclick="return confirm('Are you sure that you want to delete this movie?')">Delete this movie</a>
        }
    }



    <div class="ding">
        <h1>@Model.movieDetail.title</h1>
        <h2>Rated @Model.movieDetail.rating/10 </h2>
        <h2>Release Date: @Model.movieDetail.releasedate</h2>
        <h2>Category: @Model.movieDetail.genre</h2>
        <h3>@Model.movieDetail.descript</h3>
        <img src=@Model.movieDetail.picture alt="Movie Picture" width="250" height="500">
        <br />
        <form action="../../Home/AddRatingAction?movieID=@Model.movieDetail.movieID" method="post">
            <fieldset>
                <h2> Rate the movie (1-10) </h2>
                <input type="radio" name="Rating" value=1>1
                <input type="radio" name="Rating" value=2>2
                <input type="radio" name="Rating" value=3>3
                <input type="radio" name="Rating" value=4>4
                <input type="radio" name="Rating" value=5>5
                <input type="radio" name="Rating" value=6>6
                <input type="radio" name="Rating" value=7>7
                <input type="radio" name="Rating" value=8>8
                <input type="radio" name="Rating" value=9>9
                <input type="radio" name="Rating" value=10>10
                <br />
                <input type="submit" value="Rate Now">
            </fieldset>
        </form>

        <h2>The cast includes:</h2>
        @foreach (Actor a in Model.cast)
        {
            <h3><a href="../../Home/ActorDetails?actorID=@a.actorID">@a.name</a></h3>
            i = i + 1;
        }


        <form action="../../Home/AddCommentAction?movieID=@Model.movieDetail.movieID" method="post">
            <fieldset>
                <h2> Add a comment </h2>

                <textarea name="message" cols="40" rows="5"> </textarea>
                <input type="submit" value="Comment">
            </fieldset>

        </form>

        <h2>Previous comments are:</h2>

        @foreach (Comment c in Model.commentList)
        {
            <h3>@c.userName  commented: </h3> 
            <h4>@c.comment</h4>
            <p>@c.dtime</p>
            i = i + 1;
        }
    </div>
</body>
</html>