@using DB_Project.Models

@model Movie
@model List<String>
@{
    int i = 1;
}

<!DOCTYPE html>
<html>
<head>
    <h1>Movie Details</h1>
</head>
<body>
    <form action="../../Home/Rating" method="post">
        <fieldset>
            <h2> Rate the movie (1-10) </h2>
            <input type="radio" name="Rating" value=1>1
            <input type="radio" name="Rating" value=2>2
            <input type="radio" name="Rating" value=3>3
            <input type="radio" name="Rating" value=4>4
            <input type="radio" name="Rating" value=5>5
            <input type="radio" name="Rating" value=6>6
            <input type="radio" name="Rating" value=7>7
            <input type="radio" name="Rating" value=8>8
            <input type="radio" name="Rating" value=9>9
            <input type="radio" name="Rating" value=10>10
            <br />
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <p>Movie details</p>
    @Model.movieID <br />
    @Model.title <br />
    @Model.rating <br />
    @Model.descript <br />
    @Model.genre <br />
    @Model.releasedate <br />
    @Model.picture <br />

    <p>The cast includes:</p>
    @foreach (String element in Model)
    {
        <p> </p>
        i = i + 1;
    }


    <form action="../../Home/AddComent" method="post">
        <fieldset>
            <h2> Add a comment </h2>
            <p>Comment:</p>
            <input type="text" requried name="comment">
        </fieldset>

    </form>
</body>
</html>