@using DB_Project.Models

@model Movie

<p>Movie details</p>
@Model.movieID <br />
@Model.title <br />
@Model.rating <br />
@Model.descript <br />
@Model.genre <br />
@Model.releasedate <br />
@if (Model.picture2 != null)
{
    ViewBag.Base64String = "data:image/png;base64," + Convert.ToBase64String(Model.picture2, 0, Model.picture2.Length);
}
